#language: python
matrix:
    include:
        - os: linux
          sudo: true
          dist: trusty
          group: edge
          before_install: sudo apt install python-pip
        - os: osx
install:
  - pip install virtualenv
  - ./setup
script:
  - ./telemetry &
  - sleep 2
  - wget http://localhost:5001
# after_success: